{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h2>Hi, I'm Stett.</h2>
<p>Since graduating from <a href="http://www.taylor.edu/">Taylor University</a> in 2012, I've been doing freelance web programming, independent game development, and sketching up the little monstrosities you'll find on this site.</p>
<h2>Call me maybe?</h2>
<p>Actually don't. Just email me at <a href="mailto:stettjawa@gmail.com">stettjawa@gmail.com</a>. I'd love to hear from you!</p>
{% endblock %}
