{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h2>Hi, I'm Stett.</h2>
<p>I'm a freelance web programmer, independent game developer, and graduate student at <a href="https://www.digipen.edu/">DigiPen</a>. In my ever decreasing free time I sketch up the little monstrosities you'll find on Tall Rhino, my little right-brained pet project.</p>
<h2>Call me maybe?</h2>
<p>Actually don't. Just email me at <a href="mailto:stettjawa@gmail.com">stettjawa@gmail.com</a>. I'd love to hear from you for any reason. Seriously - even if your emailing me to complain about copyright infringement or something, I'd love to get to know you and find out what goes on inside the mind of one of those people who lies in wait for someone to sue.</p>
<h2>For the interested dev</h2>
<p>If you're like me, you like to know how things work. You can check out the source code for this site on GitHub <a href="https://github.com/stett/tall_rhino">here</a>. It's a very simple Django set-up.</p>
{% endblock %}
