<!DOCTYPE html>

{% load staticfiles %}
{% load compress %}

{# JS #}
{% compress js %}
<script type="text/javascript" src="{% static 'lib/jquery.js' %}"></script>
{#<script type="text/javascript" src="{% static 'lib/knockout.js' %}"></script>#}
{% endcompress %}
{% block js %}
{% endblock %}

<html>
<head>

    {# Meta #}
    <meta name='viewport' content='width=device-width'>

    {# Favicon #}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">

    {# Title #}
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {# Extra head content #}
    {% block head %}
    {% endblock %}
</head>

<body>

    {# Primary header #}
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}

    {# Primary content holder #}
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>

    {# Extra body content #}
    {% block body %}
    {% endblock %}

</body>
</html>

{# External resources #}
<link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

{# Styles #}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/normalize.css' %}">
<link rel="stylesheet" type="text/less" href="{% static 'less/base.less' %}">
{% endcompress %}
{% block style %}
{% endblock %}
