{% load staticfiles %}

{# Logo #}
<img id="logo"src="{% static 'img/rhino.png' %}"/>

{# Main nav #}
<nav id="nav">

    {# Header #}
    <a href="{% url 'home' %}">
        <h1 id="title"><div id="tall">Tall</div><div id="rhinoceros">Rhinoceros</div><div id="rhino">Rhino</div></h1>
    </a>

    {# Nav buttons #}
    <ul>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'archive' %}">Archive</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'edit' %}">Edit</a></li>
        {% endif %}
    </ul>
</nav>
