{% extends 'base.html' %}
{% load staticfiles %}
{% load imageset %}
{% load comments %}

{% block js %}
<script type="text/javascript" src="{% static 'js/imageset.js' %}"></script>
{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<div id="post" class="post">

    <a id="{{ post.slug }}" href="{{ post.get_absolute_url }}#post"><h2>{{ post.title }}</h2></a>
    <small>{{ post.date }}</small>

    <div class="content">
        {{ post.content }}
        {% imageset post.images.all %}
    </div>

    <div id="comments">
        {% include 'comments.html' with post=post %}
    </div>

</div>
{% endblock %}
