@import url('../lib/lesshat.less');

/*
 * Variables
 */

// Colors
@text_color: #444;
@accent: #69f;
@main_bg: rgb(220, 220, 220);
@content_bg: rgb(240, 240, 240);
@middle_gray: rgb(127, 127, 127);
@light_gray: lighten(@middle_gray, 20%);

// Fonts
@main_font: 'Ubuntu', sans-serif;
@title_font: 'Lily Script One', cursive;

// Box Shadows
@shadow: 0 0 6px -2px black;

// Dimensions
@content_width: 640px;
@container_width: 600px;
@header_height: 128px;
@thumb_size: 40px;

// Mixins
.shadow { .box-shadow(0 0 6px -2px black); }
.big-shadow { .box-shadow(0 0 16px -2px black); }


/*
 * Structure
 */

html {
    height: 100%;
    background-color: @main_bg;
}

body {
    min-height: 90%;
    max-width: @content_width;
    margin: 0 auto;
    font-family: @main_font;
    color: @text_color;
    background-color: @content_bg;
    @media screen and (min-width: 660px) {
        .shadow;
        border: 1px solid @accent;
        border-top: none;
        margin-bottom: 32px;
    }
}

#content {
    padding: 5px;
}

#logo {
    height: 180px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 0 60px;
}

#nav {
    display: inline-block;
}

#title {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
    font-family: 'Lily Script One', cursive;

    #tall {
        font-size: 35px;
        margin-bottom: -20px;
        @media screen and (max-width: @content_width) { font-size: 30px; }
    }

    #rhinoceros {
        font-size: 75px;
        @media screen and (max-width: @content_width) { font-size: 55px; }
        @media screen and (max-width: 510px) { display: none; }
    }

    #rhino {
        font-size: 55px;
        display: none;
        @media screen and (max-width: 510px) { display: block; }
        @media screen and (max-width: 350px) { font-size: 40px; }
    }
}

#nav ul {
    padding: 0;
    margin: 0;
    li { list-style-type: none; }
    li a {
        display: block;
        color: @light_gray;
        font-size: 12px;
        text-transform: uppercase;
        &:hover { color: @accent; }
    }
}

#foot {
    max-width: @content_width;
}

a {
    color: @accent;
    text-decoration: none;
    transition: color .2s;
    &:hover { color: lighten(@accent, 10%); }
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/*
 * Pagination
 */

#pagination {
    padding: 10px;
    text-align: center;
    a {
        font-size: 12px;
    }
    strong {
        color: @content_bg;
        background-color: @accent;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        line-height: 140%;
        font-size: 14px;
    }
}


/*
 * Post
 */

.post {
    padding: 10px 0;
    h2 {
        font-size: 13pt;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: -6px;
    }
    small {
        color: @light_gray;
    }
    .content {
        padding: 5px 0;
    }
    .controls {
        float: right;
        position: relative;
        top: -@thumb_size;
        text-align: right;
        font-size: 12px;
        a {
            display: block;
            color: @light_gray;
            &:hover {
                color: @accent;
            }
        }
    }
}


/*
 * Image set
 */

.imageset {
    position: relative;
    margin-top: 10px;

    .image {
        margin: 0 auto;
        display: block;
        width: @content_width / 2;
        height: @content_width / 2;
        position: relative;
        z-index: 2;
        border: 1px solid @accent;
        background: @content_bg;
        .shadow;

        &:hover {
            cursor: pointer;
            .enlarge { opacity: 1; }
        }

        img { position: absolute; }

        .load {
            z-index: 4;
            margin: 108px auto 0 auto;
        }
    }

    .description, .enlarge {
        position: absolute;
        z-index: 4;
        margin: 5px;
        padding: 5px;
        line-height: 95%;
        font-size: 12px;
        background: rgba(255, 255, 255, .7);
    }

    .description { bottom: 0; }

    .enlarge {
        top: 0;
        opacity: 0;
        transition: opacity .2s;
    }

    .buffer {
        display: none;
        max-width: 100%;
        @media screen and (max-height: @content_width) { max-height: @content_width; }
    }

    .thumbs {
        text-align: center;
        height: @thumb_size;
    }

    .thumb {
        vertical-align: top;
        display: inline-block;
        width: @thumb_size;
        height: @thumb_size;
        border: 1px solid @accent;
        .shadow;
        position: relative;
        z-index: 1;
        transition: margin-top .2s;

        margin-top: -8px;

        &:hover {
            margin-top: -1px;
            cursor: pointer;
        }

        &.active {
            margin-top: -3px;
            z-index: 3;
        }
    }

    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        display: none;

        img {
            max-width: 100%;
            max-height: 100%;
            .big-shadow;
        }
    }
}

/*
 * Loading spinner
 */

@keyframes anim_spin {
    to { transform: rotate(1turn); }
}

.load {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('/static/img/load.png');

    -webkit-animation: spin .4s infinite linear;
    @-webkit-keyframes spin {
        0%   {-webkit-transform: rotate(0deg)}
        100% {-webkit-transform: rotate(360deg)}
    }
}

/*
 * Page specific
 */

div.archive-year {
    border-bottom: 1px solid @light_gray;
    text-align: center;
    span {
        color: @light_gray;
        background-color: @content_bg;
        font-size: 12px;
        padding: 6px;
    }
    height: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.archive-block {
    padding-left: 2.5%;
}

a.archive-thumb {
    border: 1px solid @accent;
    display: inline-block;
    position: relative;
    width: 48%;
    height: 48px;
    padding: 0;
    margin-bottom: 2px;
    line-height: 0;
    background-color: white;
    background-position: center;
    span {
        opacity: 0;
        display: inline-block;
        position: absolute;
        margin: 5px;
        padding: 5px;
        line-height: 95%;
        font-size: 12px;
        background: rgba(255, 255, 255, .7);
        bottom: 0;
        color: @text_color;
        transition: opacity .2s;
    }
    &:hover {
        .shadow;
        span {
            opacity: 1;
        }
    }
}
