@import url('../lib/lesshat.less');

/*
 * Variables
 */

// Colors
@text_color: #444;
@accent: #69f;
@main_bg: rgb(200, 200, 200);
//@main_bg: darken(@accent, 10%);
@content_bg: rgb(240, 240, 240);
@middle_gray: rgb(127, 127, 127);

// Fonts
@main_font: 'Ubuntu', sans-serif;
@title_font: 'Lily Script One', cursive;

// Box Shadows
@shadow: 0 0 6px -2px black;

// Dimensions
@content_width: 640px;
@container_width: 600px;
@header_height: 128px;

// Mixins
.shadow { .box-shadow(0 0 4px -2px black); }


/*
 * Structure
 */

html {
    height: 100%;
    background-color: @main_bg;
}

body {
    min-height: 90%;
    max-width: @content_width;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: @main_font;
    color: @text_color;
    background-color: @content_bg;
    border: 1px solid @accent;
    border-top: none;
    .shadow;
}

#content {
    padding: 5px;
}

#logo {
    height: 180px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 0 60px;
}

#nav {
    display: inline-block;
}

#title {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
    font-family: 'Lily Script One', cursive;

    #tall {
        font-size: 35px;
        margin-bottom: -20px;
        @media screen and (max-width: @content_width) { font-size: 30px; }
    }

    #rhinoceros {
        font-size: 75px;
        @media screen and (max-width: @content_width) { font-size: 55px; }
        @media screen and (max-width: 510px) { display: none; }
    }

    #rhino {
        font-size: 55px;
        display: none;
        @media screen and (max-width: 510px) { display: block; }
        @media screen and (max-width: 350px) { font-size: 40px; }
    }
}

#nav ul {
    padding: 0;
    margin: 0;
    li { list-style-type: none; }
    li a {
        display: block;
        color: darken(@main_bg, 20%);
        font-size: 12px;
        text-transform: uppercase;
        &:hover { color: @accent; }
    }
}

a {
    color: @accent;
    text-decoration: none;
    transition: color .2s;
    &:hover { color: lighten(@accent, 10%); }
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/*
 * Post
 */

.post {
    h2 {
        font-size: 13pt;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 50%;
    }
    small {
        color: darken(@main_bg, 25%);
    }
    .content {
        padding: 10px 0;
    }
}


/*
 * Image set
 */

.imageset {
    position: relative;
    margin-top: 10px;

    .image {
        margin: 0 auto;
        display: block;
        width: 256px;
        height: 256px;
        position: relative;
        z-index: 2;
        border: 1px solid @accent;
        background: @content_bg;
        .shadow;

        &:hover {
            cursor: pointer;
        }

        img {
            position: absolute;
        }
    }

    .buffer {
        display: none;
        max-width: 100%;
        max-height: @content_width;
    }

    .load {
        z-index: 4;
        margin: 32px auto;
    }
}
.thumbs {
    text-align: center;
    height: 64px;
}
.thumb {
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid @accent;
    .shadow;
    position: relative;
    z-index: 1;
    transition: margin-top .2s;

    margin-top: -8px;

    &:hover {
        margin-top: -1px;
        cursor: pointer;
    }

    &.active {
        margin-top: -3px;
        z-index: 3;
    }
}

/*
 * Loading spinner
 */


@keyframes anim_spin {
    to { transform: rotate(1turn); }
}

.load {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('/static/img/load.png');

    -webkit-animation: spin .4s infinite linear;
    @-webkit-keyframes spin {
        0%   {-webkit-transform: rotate(0deg)}
        100% {-webkit-transform: rotate(360deg)}
    }
}
